<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express | Logistica Integral</title>

    <script src="../../estilos/personal/js/jquery.min.js"></script>

    <link rel="stylesheet" href="../../estilos/personal/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../estilos/personal/css/bootstrap/bootstrap.min.css">

    
    <link rel="stylesheet" href="../../estilos/personal/css/reclute/recursos_empleado.css">
    <link rel="stylesheet" href="../../estilos/personal/css/sidebarper.css">


</head>

<body>
   
    <div class="fondoimagen" id="fondoimagen">
        
       
        <img class="logo-main" id="logodos" src="../../estilos/imagenes/logo2.png" alt="">
    
        <img class="logo-main-dos" id="logouno" src="../../estilos/imagenes/logo.png" alt="">
    
    </div>
    <nav>
        <div class="contenedordemenu">
            <ul>
                <li>
                    <a href="../../index.html">

                        <div class="fondocirculodelicono">
                            <i class="iconoadentrodelcirculo fas fa-home"></i>
                        </div>

                        <p class="textoicono">Inicio</p>

                    </a>
                </li>
                <li>
                    <a href="../../nosotros.html">

                        <div class="fondocirculodelicono">
                            <i class="iconoadentrodelcirculo fas fa-box-open"></i>
                        </div>

                        <p class="textoicono">#Express</p>

                    </a>
                </li>
                <li>
                    <a href="../../productos.html">

                        <div class="fondocirculodelicono">
                            <i class="iconoadentrodelcirculo fas fa-mobile-alt"></i>
                        </div>

                        <p class="textoicono">Productos</p>

                    </a>
                </li>
                <li>
                    <a href="../../contacto.html">

                        <div class="fondocirculodelicono">
                            <i class="iconoadentrodelcirculo fas fa-phone"></i>
                        </div>

                        <p class="textoicono">Contacto</p>

                    </a>
                </li>
                <li>
                    <a href="">

                        <div class="fondocirculodelicono adm">
                            <i class="iconoadentrodelcirculo fas fa-user"></i>
                        </div>

                        <p class="textoicono">Login</p>

                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Carousel Wrapper-->


    <input type="checkbox" id="cuadraditocheck">
    <label for="cuadraditocheck">
        <i class="fas fa-bars" id="boton"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebarper completo">
        <header>Express</header>
        <ul class="completo">
            <li>
                <a href="../../index.html"><i class="fas fa-home"></i>Inicio</a>
            </li>
            <li>
                <a href="../../views/products/corporativo.html"><i class="fas fa-truck"></i>Logistica inversa</a>
            </li>
            <li>
                <a href="../../views/products/corp-traslados.html"><i class="fas fa-stream"></i>Distribución</a>
            </li>
            <li>
                <a href="../../views/products/ecommerce.html"><i class="fas fa-laptop"></i>Ecommerce</a>
            </li>
            <li>
                <a href="../../views/products/particulares.html"><i class="fas fa-box-open"></i>Particulares</a>
            </li>
            
            <li>
                <a href="../../views/products/productos.html"><i class="fas fa-shopping-bag"></i>Productos</a>
            </li>
            <li>
                <a href="../../views/company/nosotros.html"><i class="fas fa-envelope"></i>#Express</a>
            </li>
            <li>
                <a href="../../views/company/contacto.html"><i class="fas fa-phone"></i>Contacto</a>
            </li>
            <li>
                <a href="../../views/login/loginUs.php"><i class="fas fa-users"></i>Login</a>
            </li>

        </ul>



    </div>



    <!-- --------------------------------2------------------------------------------->






    <div class="container-artisan">
        <div class="titulo-escoger">
                <h3>¡Escoge para empezar!</h3>
        </div>
    </div>

    <div class="container-artisan">
        <div class="te-controlo-cartas-trabajo">
            <div class="containercarta">
                <div class="cardcarta">
                    <div class="imgBx">
                        <img src="../../estilos/imagenes/car/autoreco1.png">
                    </div>
                    <div class="contentBx">
                        <h2>Auto</h2>
                        <div class="size">
                            <h3>Estado</h3>
                            <span>Disponbile</span>

                        </div>
                        <div class="color">

                            <span><i class="fas fa-coins"></i></span>
                            <span><i class="far fa-calendar-check"></i></span>
                            <span><i class="fas fa-user"></i></span>

                        </div>
                        <a href="first-data-employee.html">Trabajar ya!</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
        
    
    <div class="container-artisan">
        <section class="intro-area white" id="intro">

            <div class="intro-block">
                <span class="intro-icon"><i class="fas fa-money-check-alt"></i></span>
                <h3>Tu compensación</h3>
                <p>
                    Lo que ganás depende de tu esfuerzo y efectividad.
                </p>
            </div>


            <div class="intro-block">
                <span class="intro-icon"><i class="fas fa-calendar-alt"></i></span>
                <h3>Tus tiempos los manejas vos</h3>
                <p>
                    Traslada con total libertad. Elegí las zonas que queres y como lo haces.
                </p>
            </div>


            <div class="intro-block">
                <span class="intro-icon"><i class="fas fa-truck"></i></span>
                <h3>Lo que vas a necesitar</h3>
                <p>
                    Tu vehículo (moto, bicicleta o auto), un iPhone o un dispositivo Android y tener la mejor
                    predisposición.
                </p>
            </div>

    </section>


    
    <div class="container-complete-info">
        <div class="box-complete">
            <div class="texto-complete">
                <span class="fuente-texto">Si ya te registraste por primera vez, ingresa aqui para completar tu solicitud</span>
                 
            </div>
            <a href="finish-data-employee.html">
            <div class="boton-complete">
                Completar solicitud
            </div>
        </a>
        </div>

    </div>
    </div>


    
<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Nosotros</h6>
                <p class="text-justify">Especialistas en ultima milla, logistica inversa y directa. Express traslada paqueteria en Argentina y uruguay. 
                </p>

            </div>


            <div class="col-xs-6 col-md-3">
                <h6>Navega</h6>
                <ul class="footer-links">
                    <li><a href="../../views/products/productos.html">Productos</a></li>
                    <li><a href="../../views/company/nosotros.html">#Express</a></li>
                    <li><a href="../../views/company/contacto.html">Contacto</a></li>
                    <!-- <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li> -->
                    
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Socios y empleo</h6>
                <ul class="footer-links">
                    <li><a href="../../views/work/recolector.html">Recolectores</a></li>
                    <li><a href="../../views/work/call.html">Call Center</a></li>
                    <li><a href="../../views/work/comercio.html">Comercios</a></li>
                    <li><a href="../../views/work/empleado.html">Empleado Express</a></li>
              
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    <a href="#">Express metropolitana S.R.L</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a href="http://qr.afip.gob.ar/?qr=svAhiSzkY1Zz39T4Wdpifw,," target="_F960AFIPInfo"><img class="imgert" src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0"></a></li>
                    <!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>
  
    <script src="../../estilos/personal/js/jquery.js"></script>  
    <script src="../../estilos/personal/js/logo.js"> </script>
    <!-- ahicar el texto con 3 puntos<script>
        const trunc = 
        document.querySelector('.p-trunc');
        trunc.innerText = 
        trunc.innerText.substring(0,100) + '...';
    </script> -->

</body>

</html>