<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../../estilos/personal/js/jquery.min.js"></script>
    <script src="../../estilos/personal/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../estilos/personal/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../estilos/personal/css/bootstrap/mdb.min.css">
    <link rel="stylesheet" href="../../estilos/personal/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../estilos/personal/css/productos/recursos_productos.css">

    <link rel="stylesheet" href="../../estilos/personal/css/sidebarper.css">
    
    <title>Express || Última milla</title>
</head>

<body>


    <div class="fondoimagen" id="fondoimagen">
        
       
        <img class="logo-main" id="logodos" src="../../estilos/imagenes/logo2.png" alt="">
    
        <img class="logo-main-dos" id="logouno" src="../../estilos/imagenes/logo.png" alt="">
    
    </div>
    <nav>
        <div class="contenedordemenu">
            <ul>
                <li>
                    <a href="../../index.html">

                        <div class="fondocirculodelicono">
                            <i class="iconoadentrodelcirculo fas fa-home"></i>
                        </div>

                        <p class="textoicono">Inicio</p>

                    </a>
                </li>
                <li>
                    <a href="../company/nosotros.html">

                        <div class="fondocirculodelicono">
                            <i class="iconoadentrodelcirculo fas fa-box-open"></i>
                        </div>

                        <p class="textoicono">#Express</p>

                    </a>
                </li>
                <li>
                    <a href="../products/productos.html">

                        <div class="fondocirculodelicono">
                            <i class="iconoadentrodelcirculo fas fa-mobile-alt"></i>
                        </div>

                        <p class="textoicono">Productos</p>

                    </a>
                </li>
                <li>
                    <a href="../company/contacto.html">

                        <div class="fondocirculodelicono">
                            <i class="iconoadentrodelcirculo fas fa-phone"></i>
                        </div>

                        <p class="textoicono">Contacto</p>

                    </a>
                </li>
                <li>
                    <a href="../products/cobertura.html">

                        <div class="fondocirculodelicono">
                            <i class="iconoadentrodelcirculo fas fa-globe"></i>
                        </div>

                        <p class="textoicono">Cobertura</p>

                    </a>
                </li>
                <li>
                    <a href="../../views/login/loginUs.php">

                        <div class="fondocirculodelicono adm">
                            <i class="iconoadentrodelcirculo fas fa-user"></i>
                        </div>

                        <p class="textoicono">Login</p>

                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Carousel Wrapper-->





    <input type="checkbox" id="cuadraditocheck">
    <label for="cuadraditocheck">
        <i class="fas fa-bars" id="boton"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebarper completo">
        <header>Express</header>
        <ul class="completo">
            <li>
                <a href="../../index.html"><i class="fas fa-home"></i>Inicio</a>
            </li>
            <li>
                <a href="../../views/products/corporativo.html"><i class="fas fa-truck"></i>Logistica inversa</a>
            </li>
            <li>
                <a href="../../views/products/corp-traslados.html"><i class="fas fa-stream"></i>Distribución</a>
            </li>
            <li>
                <a href="../../views/products/ecommerce.html"><i class="fas fa-laptop"></i>Ecommerce</a>
            </li>
            <li>
                <a href="../../views/products/particulares.html"><i class="fas fa-box-open"></i>Particulares</a>
            </li>
            
            <li>
                <a href="../../views/products/productos.html"><i class="fas fa-shopping-bag"></i>Productos</a>
            </li>
            <li>
                <a href="../../views/company/nosotros.html"><i class="fas fa-envelope"></i>#Express</a>
            </li>
            <li>
                <a href="../../views/company/contacto.html"><i class="fas fa-phone"></i>Contacto</a>
            </li>
            <li>
                <a href="../../views/login/loginUs.php"><i class="fas fa-users"></i>Login</a>
            </li>

        </ul>



    </div>

    <!-- titulo  de productos -->
    <div class="container-artisan">
        <section class="contenedor-titulo-productos">

            <div class="titulo-productos">
                <h1>Si todavia no conoces a Express, <br> estos son nuestros productos </h1>
            </div>

        </section>
    </div>
    <!-- END titulo de productos -->

    <!-- Productos -->
    <div class="container-artisan">
        <article class="contenedor-productos">

            <div class="box-productos">
                <a href="corporativo.html" class="vinculo-productos">
                    <div class="ilustracion-producto">
                        <img class="tamano-imagen-producto" src="../../estilos/imagenes/front/car2.png" alt="">
                    </div>
                    <h4>Recupero</h4>
                    <p>Recuperacion y gestión de equipos</p>
                    <i class="more-info fas fa-plus-circle"></i>
                </a>
                </a>
            </div>
            <div class="box-productos">
                <a href="ecommerce.html" class="vinculo-productos">
                    <div class="ilustracion-producto">
                        <img class="tamano-imagen-producto" src="../../estilos/imagenes/front/computer.png" alt="">
                    </div>
                    <h4>Ecommerce</h4>
                    <p>Podras enviar paquetes a tus clientes.</p>
                    <i class="more-info fas fa-plus-circle"></i>
                </a>
            </div>
            <div class="box-productos">
                <a href="particulares.html" class="vinculo-productos">
                    <div class="ilustracion-producto">
                        <img class="tamano-imagen-producto" src="../../estilos/imagenes/front/shoes.png" alt="">
                    </div>
                    <h4>Particulares</h4>
                    <p>Envia lo que quieras</p>
                    <i class="more-info fas fa-plus-circle"></i>
                </a>
            </div>
            <div class="box-productos">
                <a href="corp-traslados.html" class="vinculo-productos">
                    <div class="ilustracion-producto">
                        <img class="tamano-imagen-producto" src="../../estilos/imagenes/front/bow2.png" alt="">
                    </div>
                    <h4>Distribución</h4>
                    <p>Traslado, logistica y stock de equipos</p>
                    <i class="more-info fas fa-plus-circle"></i>
                </a>
            </div>

        </article>
    </div>


   <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Nosotros</h6>
                <p class="text-justify">Especialistas en ultima milla, logistica inversa y directa. Express traslada paqueteria en Argentina y uruguay. 
                </p>

            </div>


            <div class="col-xs-6 col-md-3">
                <h6>Navega</h6>
                <ul class="footer-links">
                    <li><a href="../../views/products/productos.html">Productos</a></li>
                    <li><a href="../../views/company/nosotros.html">#Express</a></li>
                    <li><a href="../../views/company/contacto.html">Contacto</a></li>
                    <!-- <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li> -->
                    
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Socios y empleo</h6>
                <ul class="footer-links">
                    <li><a href="../../views/work/recolector.html">Recolectores</a></li>
                    <li><a href="../../views/work/call.html">Call Center</a></li>
                    <li><a href="../../views/work/comercio.html">Comercios</a></li>
                    <li><a href="../../views/work/empleado.html">Empleado Express</a></li>
              
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    <a href="#">Express metropolitana S.R.L</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a href="http://qr.afip.gob.ar/?qr=svAhiSzkY1Zz39T4Wdpifw,," target="_F960AFIPInfo"><img class="imgert" src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0"></a></li>
                    <!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>
    <!-- END productos -->
    <script src="../../estilos/personal/js/jquery.js"></script>
    <script src="../../estilos/personal/js/logo.js"> </script>

</body>

</html>